# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015/2017 cache/options directory
.vs/

# NUnit
*.trx
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code cache/options directory
.vscode/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

#JetBrains cache/options directory
.idea

# Custom ignores
cdk/cdk.context.json
src/GlobalSearch/nuget.config
.ionide/
/ops/snapshotdev.py
/ops/snapshotprod.py
/ops/snapshotsit.py
/ops/snapshottest.py
/ops/snapshotuat.py
/SnackSample.Tests/appsettings.Development.json
